@import 'fonts';
// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

html,
body {
    height: 100%;
}

html {
    min-height: 100%;
}

body {
    color: #fff;
    font-family: 'CerebriSans-light';
    font-weight: 100;
}

p{
    margin-bottom: 15px;
}

strong {
    font-family: 'CerebriSans-bold';
}

.full-screen {
    position: relative;
    height: 100%;
}

#info-container {
    position: absolute;
    width: 100%;
    bottom: 0%;
    padding: 3% 7%;
    
    .logo {
        margin-bottom: 2em;
        margin-top: 15px;
        img {
            width: 115px;
            height: auto;
        }
    }
    
    .col{
        background: rgba(0, 0, 0, 0.5);
        max-width: 177px;
    }
}

#rav-carousel {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .carousel-inner,
    .carousel-item,
    .image-container {
        width: 100%;
        height: 100%;
    }

    .image-container {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

}

a {
    color: #fff;
    transition: color 0.7s ease;

    &:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);

        svg {
            fill: rgba(255, 255, 255, 0.7);
        }
    }

    svg {
        transition: fill 0.7s ease;
        fill: #fff;
        height: 1em;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0.1em;
        margin-right: 0.5em;
    }
}