@font-face {
  font-family: 'CerebriSans-thin';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/cerebrisanspro-thin-webfont.eot");
  src: url("../fonts/cerebrisanspro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-thin-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-thin-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-thin-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-thin-webfont.svg#cerebri_sans_prothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-extra-light';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/cerebrisanspro-extralight-webfont.eot");
  src: url("../fonts/cerebrisanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-extralight-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-extralight-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-extralight-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-extralight-webfont.svg#cerebri_sans_proextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-light';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cerebrisanspro-light-webfont.eot");
  src: url("../fonts/cerebrisanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-light-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-light-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-light-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-light-webfont.svg#cerebri_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cerebrisanspro-regular-webfont.eot");
  src: url("../fonts/cerebrisanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-regular-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-regular-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-regular-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-regular-webfont.svg#cerebri_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-medium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cerebrisanspro-medium-webfont.eot");
  src: url("../fonts/cerebrisanspro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-medium-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-medium-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-medium-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-medium-webfont.svg#cerebri_sans_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-semibold';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cerebrisanspro-semibold-webfont.eot");
  src: url("../fonts/cerebrisanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-semibold-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-semibold-webfont.svg#cerebri_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cerebrisanspro-bold-webfont.eot");
  src: url("../fonts/cerebrisanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-bold-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-bold-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-bold-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-bold-webfont.svg#cerebri_sans_pro_boldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-extrabold';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/cerebrisanspro-extrabold-webfont.eot");
  src: url("../fonts/cerebrisanspro-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-extrabold-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-extrabold-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-extrabold-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-extrabold-webfont.svg#cerebri_sans_proextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans-heavy';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/cerebrisanspro-heavy-webfont.eot");
  src: url("../fonts/cerebrisanspro-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisanspro-heavy-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-heavy-webfont.woff") format("woff"), url("../fonts/cerebrisanspro-heavy-webfont.ttf") format("truetype"), url("../fonts/cerebrisanspro-heavy-webfont.svg#cerebri_sans_proheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
